html {
  font-family: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

img {
  display: block;
}

main {
  max-width: 40em;
  margin-inline: auto;
}

.logo {
  margin: 2em;
}
.logo img {
  height: 1.25em;
}

.hero img {
  margin-inline: auto;
}

.text__section {
  text-align: center;
  padding: 3.5em 2em;
}
.text__section h1 {
  color: hsl(0, 6%, 24%);
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}
.text__section h1 span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}
.text__section p {
  color: hsl(0, 36%, 70%);
  font-size: 0.9rem;
  line-height: 1.5;
}
.text__section #error {
  color: hsl(0, 93%, 68%);
  text-align: start;
  margin: 0.75rem 1.5rem;
  font-weight: bold;
}

form {
  position: relative;
  display: flex;
  align-items: center;
  -webkit-margin-before: 2em;
          margin-block-start: 2em;
}
form .icon__err {
  display: none;
}
form input {
  font-size: 0.9rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 2rem;
  width: 100%;
  color: hsl(0, 6%, 24%);
}
form input::-moz-placeholder {
  color: rgba(206, 151, 151, 0.5);
}
form input::placeholder {
  color: rgba(206, 151, 151, 0.5);
}
form input:focus-visible {
  outline: none;
}
form .btn {
  position: absolute;
  right: 0;
  height: 100%;
  padding-inline: 1.75em;
  border-radius: 2em;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
form .btn:hover {
  opacity: 0.5;
}
form.invalid input {
  border-color: hsl(0, 93%, 68%);
}
form.invalid .icon__err {
  display: inline;
  position: absolute;
  right: 5em;
}

@media screen and (min-width: 1024px) {
  body {
    background: url(images/bg-pattern-desktop.svg) round, linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }
  main {
    display: grid;
    grid-template-areas: "logo hero" "text hero";
    grid-template-rows: auto 1fr;
    align-items: center;
    max-width: none;
  }
  .logo {
    grid-area: logo;
    margin-block: 4em 0;
    -webkit-margin-start: 3em;
            margin-inline-start: 3em;
  }
  .logo img {
    height: 2em;
  }
  .hero {
    grid-area: hero;
  }
  .text__section {
    grid-area: text;
    text-align: start;
    padding: 0 3em;
  }
  .text__section h1 {
    font-size: 3.5rem;
  }
  .text__section p {
    font-size: 1rem;
  }
  form input {
    font-size: 1rem;
  }
  form .btn {
    padding-inline: 3em;
  }
  form.invalid .icon__err {
    right: 7em;
  }
}
@media screen and (min-width: 1440px) {
  .logo {
    -webkit-margin-start: 10em;
            margin-inline-start: 10em;
  }
  .logo img {
    height: 3em;
  }
  .hero {
    overflow: unset;
  }
  .hero img {
    height: 100vh;
  }
  .text__section {
    padding-inline: 10em 15em;
  }
}