$red-100: hsl(0, 36%, 70%)
$red-200: hsl(0, 93%, 68%)
$red-300: hsl(0, 6%, 24%)
$linear-white: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%))
$linear-pink: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%))
$font-family: "Josefin Sans", sans-serif

html
    font-family: $font-family

*
    margin: 0
    padding: 0
    border: 0
    overflow: hidden
    box-sizing: border-box

body
    background: $linear-white

img
    display: block

main
    max-width: 40em
    margin-inline: auto

.logo
    margin: 2em
    img
        height: 1.25em

.hero
    img
        margin-inline: auto

.text__section
    text-align: center
    padding: 3.5em 2em    
    h1
        color: $red-300
        font-size: 2.25rem
        text-transform: uppercase
        letter-spacing: 0.25em
        margin-block-end: .5em

        span
            color: $red-100
            font-weight: 300
    p
        color: $red-100
        font-size: 0.9rem
        line-height: 1.5
    #error
        color: $red-200
        text-align: start
        margin: .75rem 1.5rem
        font-weight: bold

form
    position: relative
    display: flex
    align-items: center
    margin-block-start: 2em

    .icon__err
        display: none

    input
        font-size: 0.9rem
        font-family: $font-family
        padding: 1rem 1.5rem
        background-color: transparent
        border: 1px solid rgba($red-100 , 0.5)
        border-radius: 2rem
        width: 100%
        color: $red-300
        &::placeholder
            color: rgba($red-100 , .5)
        &:focus-visible
            outline: none

    .btn
        position: absolute
        right: 0
        height: 100%
        padding-inline: 1.75em
        border-radius: 2em
        background: $linear-pink
        &:hover
            opacity: 0.5

    &.invalid
        input
            border-color: $red-200
        .icon__err
            display: inline
            position: absolute
            right: 5em

@media screen and ( min-width: 1024px )
    body
        background: url(images/bg-pattern-desktop.svg) round , $linear-white
    main
        display: grid
        grid-template-areas:"logo hero" "text hero"
        grid-template-rows: auto 1fr
        align-items: center
        max-width: none
    .logo
        grid-area: logo
        margin-block: 4em 0
        margin-inline-start: 3em
        img
            height: 2em
    .hero
        grid-area: hero
    .text__section
        grid-area: text
        text-align: start
        padding: 0 3em
        h1
            font-size: 3.5rem
        p
            font-size: 1rem
    form
        input
            font-size: 1rem
        .btn
            padding-inline: 3em
        &.invalid
            .icon__err
                right: 7em

@media screen and ( min-width: 1440px )
    .logo
        margin-inline-start: 10em
        img
            height: 3em
    .hero
        overflow: unset
        img
            height: 100vh
    .text__section
        padding-inline: 10em 15em